.main-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #5f68ed;
  cursor: pointer;
  font-size: 16px;
}

.tabs button.active {
  background-color: #4CAF50;
  color: white;
}

.mood-section, .weather-section, .todo-section {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

input {
  padding: 10px;
  margin-top: 10px;
}
