.reminder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  min-height: 440px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .reminder:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .reminder ul {
    list-style-type: none;
    padding: 0;
  }
  
  .reminder li {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .reminder input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  